
.loading-spinner {
  /* Set the width and height of the spinner */
  width: 2em;
  height: 2em;

  /* Center the spinner horizontally */
  margin: 0 auto;

  /* Set the border and border radius */
  border-radius: 50%;
  border: 0.25em solid #ccc;
  border-top-color: #333;

  /* Set the animation properties */
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.dado{
  border-radius: 10px;
}
.dado :active{
  border: 2px solid #ffffff;
}

.boton-submenu{
  border: 2px solid #ffffff; /* Add this line to set the border color */
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  margin-top: 10px;
  outline: 0;
  text-transform: uppercase;
  width: 100%;
}

.circle {
  border-radius: 50%;
  background-color: white;
}

.canvas-wrapper {
  position: relative;
  width: 80%;
  
}

#my-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ------------------------------- */
a {
  text-align: center;
}

.jugar-button {
  background-color: rgb(34,124,213);
  border: 2px solid #ffffff; /* Add this line to set the border color */
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  margin-top: 10px;
  outline: 0;
  text-transform: uppercase;
  width: 100%;
  box-shadow: 0px 3px 10px rgba(246, 141, 29, 0.563);
}

.pantalla{
  padding: 5%;
  background: radial-gradient(circle, #343632, #ffc957, #e69d0a);
  width: 100%;
  height: 100%;
}


.boton{
    height:50px;
    width:50px;
}

.containerBotonesJugar {
  padding: 10px;
  margin-bottom: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

@media (max-width: 768px) {
  
  .containerBotonesJugar {
    margin-top: 20px;
  }
}

#torneo{
  color:white;
  font-size: large;
  padding: 13px;
}

#jugar{
  color:white;
  font-size: large;
    padding: 13px;
}

.containerTablero {
  border-radius: 20px;
  margin-top: 20px;
  max-width: auto;
  max-height: 50%;
  position:relative; 
  /* animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

@keyframes bounce {
  from { top: 0px; }
  to { top: 10px; }
}
.boton-menu-nombre{
  float: left;
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boton-menu{
  height: 50px;
  width: 50px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(82,65,28);
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerMenu1{
  margin-top: 10px;
}

.containerMenu2{
  margin-top: 80px;
}

.boton-menu-vict{
  float: left;
}



.boton-menu-notis{
  float: right;
}

.modal-container {
    max-height: 400px;
    justify-content: space-between;
    align-items: center;
    position: relative; /* make the container position relative */
  }
  
  .close-icon-img {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: fixed; /* fix the position of the close icon */
    top: 10px;
    right: 10px;
    z-index: 9999; /* ensure the close icon appears above the modal */
  }

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    display: flex;
    transition: opacity 0.3s ease;
  }
  
  .modal-container {
      overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 300px;
    margin: auto;
    padding: 20px 30px;
    border: 5px solid rgb(34,34,34);
    border-radius: 13px;
    
    background-color:  rgb(69,69,69);;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }
  
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  .modal-enter-from {
    opacity: 0;
  }
  
  .modal-leave-to {
    opacity: 0;
  }
  
  .modal-enter-from .modal-container,
  .modal-leave-to .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }